$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: url('./images/cdjs.jpg') no-repeat;
  background-size: auto;
  background: url('./images/cdjs.jpg') no-repeat center center fixed;
background-size: cover;
	font-family: "Trebuchet MS", Arial;
	font-size: 12px;
	color: #FFFFFF;
  background-color: #808080;
}

 input {
   color: #000022;
 }

 .content {
   color: #ffffff;
   font-style: bold;
   opacity: inherit;
  //  font-size: 20px;
 }

.add-show-button {
color: black
}

.remove-show-button {
color: black;
}

.attended-button {
color: black;
}

.attended-button-hidden {
  display: none;
}

#bodydiv {
text-align: center;
}

#needsSignIn {
  display: none;
}
